# For running LLMs hosted by openai
OPENAI_API_KEY=your-openai-api-key

# For running LLMs hosted by groq
GROQ_API_KEY=your-groq-api-key

# ALPHA VANTAGE API
ALPHA_VANTAGE_API_KEY=your-alpha-vantage-key